*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/misc.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Capstone/.idea/compiler.xml
Capstone/.idea/copyright/profiles_settings.xml

Capstone/local.properties
Capstone/gradlew.bat
Capstone/gradlew
*.properties
Capstone/gradle/wrapper/gradle-wrapper.jar
Capstone/.idea/workspace.xml
Capstone/.idea/workspace.xml
Capstone/.idea/modules.xml
Capstone/.idea/misc.xml
.idea/misc.xml
Capstone/.idea/vcs.xml
Capstone/.idea/runConfigurations.xml
Capstone/.idea/gradle.xml
