<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.project.reddit.capstone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.Manifest.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Optional permission for Google Analytics -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:configChanges="orientation"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".utils.Apptil"
        >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>

        <!-- Enable Google Play Store Campaign reports -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true"/>

        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.example.com"
                    android:path="/redirect"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SubRedditsActivity"
            android:label="@string/title_activity_sub_reddits"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ReadyItWidgetActivity"
            android:label="@string/title_activity_sub_reddits"
          />
        <activity
            android:name=".activity.HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".db.ReadyitProvider"
            android:authorities="com.capstone.readyit.contentprovider"
            android:exported="true" />

        <activity
            android:name=".activity.MineSubredditsActivity"
            android:label="@string/title_activity_mine_subreddits"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ReplyActivity"
            android:label="@string/title_activity_reply"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PostReplyActivity"
            android:label="@string/title_activity_post_reply"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <receiver
            android:name=".redditwidget.RedditWidgetProvider"

            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE">

                </action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/reddit_widget_info" />
        </receiver>
        <service android:name=".redditwidget.RedditWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>